.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  --gap: 2rem;

  background-position: center;
  background-image: url(../../assets/images/bg-blurs-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.home-about {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.625rem;
  height: 80vh;
}

.about-title p:first-child {
  font-style: normal;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--clr-text);
}

.about-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.875rem;
  line-height: 100%;
  color: var(--clr-text);

  --animate-duration: 0.5s;
}

.about-title p:nth-child(3) {
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: var(--clr-eucalyptus);
  --animate-duration: 1s;
}

.about-content p:nth-child(1) {
  display: none;
}

.about-content p:nth-child(1),
p:nth-child(2) {
  font-style: normal;
  font-weight: 450;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--clr-slate-gray);
  --animate-duration: 1.5s;
}

.about-content p:nth-child(3) {
  font-style: normal;
  font-weight: 450;
  font-size: 0.875rem;
  line-height: 140%;
  --animate-duration: 2s;
}

.sp-blue {
  color: var(--clr-iris);
}

.sp-green {
  color: var(--clr-eucalyptus);
}

.sp-rajah {
  color: var(--clr-rajah);
}

.home-code {
  display: none;
}

@media screen and (min-width: 840px) {
  .container {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-position: right;
    background-image: url(../../assets/images/bg-blurs-main.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .home-about {
    height: fit-content;
    align-items: flex-start;

    --gap: 5.063rem;
  }

  .about-title {
    --gap: 0.5rem;
  }

  .home-code {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .about-content {
    --gap: 0.5rem;
  }

  .about-content p:nth-child(1) {
    display: inline-block;
  }
}
