footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 1.375rem;
}

p {
  font-style: normal;
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.25rem;
  min-width: fit-content;
  color: var(--clr-slate-gray);
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.social-links ul li {
  display: inline-flex;
}

footer a {
  display: inline-flex;
  gap: 0.5rem;
}

footer i {
  color: var(--clr-slate-gray);
  font-size: 1.25rem;
}
